.botao{
    background: linear-gradient(94deg, #EED761 21.68%, #FFB9AF 79.85%);
    box-shadow: 0px 3.52663px 35.26627px 0px rgba(255, 185, 175, 0.50);
    border: none;
    border-radius: 88.166px;
    color: #FFF;
    font-size: 21px;
    height: 56.426px;
    position: absolute;
    width: 298px;
        
}

.card{
    background-color:#FAFAFA;
    border-radius:7px;
    flex-shrink: 0;
    filter: blur(.3px);
    height: 169px;
    width: 239px;
    
}

.localidade{
    color: #122330;
    font-size: 16.071px;
    margin: 0;
}

.cards{
    display: flex; /* coloca elementos na posição horinzontal*/
    gap: 26px; /* defini espaço entre os cards*/
    position: absolute;
    justify-content: flex-start;/* o gap deve ser usado com flex-start, mas também é opcional*/
    /*justify-content: space-between; primeira forma de ajusta espaçamento dos cards
    width: 769px;*/
   

}