.logo {
    top: 53px;
    left: 135px;
    right: 1129px;
    bottom: 804.37px;
    font-size: 34.375px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
}

.comercial {
    color: #FFB9AF;
}

.menu {

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    position: absolute;
    width: 570px;
}

.itemMenu {
    font-family: Montserrat;
    font-size: 24.527px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.titulo {
    position: absolute;
    top: 238px;
    left: 135px;
    right: 783.87px;
    bottom: 470.96px;
    width: 521.135px;
    height: 191.042px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 78.65px;
    font-style: normal;
    font-weight: 600;
    line-height: 133%;
    letter-spacing: 1.966px;
    margin: 0;

}


.texto {

    position: absolute;
    top: 465.04px;
    left: 136px;
    right: 760.95px;
    bottom: 332.06px;
    width: 543.047px;
    height: 102.893px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20.285px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 0.304px;
    margin: 0;

}

.contato {
    position: absolute;
    top: 63px;
    left: 1135px;
    right: 136px;
    bottom: 813.95px;
    width: 169px;
    height: 23.045px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 19.205px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;

}

.icon {
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    position: absolute;
    top: 66px;
    left: 1102px;
    right: 319px;
    bottom: 815px;
    margin: 0;
}

.socialMedia{
    display: flex;
    gap: 38px;
    position: absolute;
}